<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
     <link rel="stylesheet" href="../public/styles/style.css">
     
</head>
<body>
    <h1>Bem vindos ao nosso cadastro!</h1>
    <h2>SESI - 2024</h2>

    <div class="container">

        <img src="../public/images/Captura de tela 2024-10-17 135616.png">
    </div>
    <a href="/products" class="produto">Produto </a>
    
</body>
</html>